.navbar {
  background-color: #296566;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
}

.navbar-brand:hover {
  color: #dcdcdc;
}

.nav-link {
  color: #ffffff;
}

.nav-link:hover {
  color: #dcdcdc;
}

.main-container {
  width: 1280px;
  margin: 20px auto; /* Increase margin between top navbar and container */
  border: 1px solid #ced4da; /* Add border */
  border-radius: 5px; /* Add border radius */
  padding: 0; /* Remove padding inside the container */
  background-color: #ffffff; /* Add background color */
}

.sidebar {
  background-color: #f8f9fa;
  height: 100vh;
  padding-top: 20px;
  border-right: 1px solid #ced4da; /* Add border to the right */
}

.sidebar .nav-link {
  text-align: left !important; /* Force align text to the left */
  padding: 10px 20px; /* Add padding for better spacing */
  color: #343a40; /* Set text color */
  display: block; /* Ensure the link takes the full width */
}

.sidebar .nav-link:hover {
  background-color: #e9ecef; /* Add background color on hover */
  color: #007bff; /* Change text color on hover */
}

.dashboard {
  padding: 20px;
}

.submit-button {
  margin-top: 20px; /* Increase margin of the submit button */
  margin-bottom: 20px;
}
.admin-form-check{
    margin-top: 20px;
}