.student-page {
  background-color: #fcfcfe; /* Dark navy blue background */
  color: #ffffff; /* White text */
  min-height: 100vh;
}

.main-container {
  padding: 20px;
}

.sidebar {
  background-color: #ffffff; /* Darker navy blue for sidebar */
  color: #ffffff;
  min-height: 100vh;
  padding: 20px;
}
.portfolio-container .chef-logo {
  width: 100px; /* Adjust the size as needed */
  height: auto;
  margin-bottom: 20px;
}

.dashboard {
  background-color: #0f3460; /* Dark navy blue for dashboard */
  color: #ffffff;
  padding: 20px;
  border-radius: 8px;
}

.dashboard-title {
  color: #e94560; /* Light red for titles */
  margin-bottom: 20px;
}

.btn-primary {
  background-color: #b9bfce; /* Dark navy blue for primary button */
  border-color: #b9bfce;
}

.btn-primary:hover {
  background-color: #b9bfce; /* Darker navy blue on hover */
  border-color: #b9bfce;
}

.btn-secondary {
  background-color: #f9f9f9; /* Dark navy blue for secondary button */
  border-color: #f6f6f8;
}

.btn-secondary:hover {
  background-color: #f7f8fa; /* Darker navy blue on hover */
  border-color: #fafafa;
}

.btn-danger {
  background-color: #e94560; /* Light red for danger button */
  border-color: #e94560;
}

.btn-danger:hover {
  background-color: #ff6f61; /* Lighter red on hover */
  border-color: #ff6f61;
}