.signin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.signin-form {
  background-color: #f8f9fa;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.signin-title {
  margin-bottom: 20px;
  text-align: center;
}

.signin-button {
  background-color: #007bff;
  border: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  width: 100%;
  margin-top: 20px;
}

.signin-button:hover {
  background-color: #0056b3;
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ced4da;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.form-control:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(128, 189, 255, 0.6);
}
.checkbox-margin{
  margin-top: 20px;
}