.main-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  background-color: #f8f9fa;
  padding: 20px;
  border-right: 1px solid #dee2e6;
}

.dashboard {
  padding: 20px;
  overflow-y: auto;
}

.navbar {
  background-color: #296566;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
}

.navbar-brand:hover {
  color: #dcdcdc;
}

.nav-link {
  color: #ffffff;
}

.nav-link:hover {
  color: #dcdcdc;
}
.dashboard-title{
    margin-bottom: 20px;
}